.contact {
    background-color: $lightGrayishBlue;
    height: auto;
    padding-top: 30px;
    

    & h2 {
        margin-bottom: 2rem;
        font-size: 2rem;
        color: $blueGreen;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }

    & p {
        text-align: center;
        font-size: medium;
        color: $grayishBlue;
    }

    &__left {
        float: left;
        width: 48%;
        margin-right: 1rem;
    }

    &__right {
        float: right;
        width: 48%;
    }
}