.contact {
    background-color: $lightGrayishBlue;
    height: auto;
    padding-bottom: 150px;
    padding-top: 30px;

    & h2 {
        margin-bottom: 2rem;
        font-size: 2rem;
        color: $blueGreen;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }

    &__left {
        float: left;
        width: 50%;
    }

    &__right {
        float: right;
        width: 50%;
    }
}