.form {
    padding: 2.5rem;
    margin: 1.5rem;
    width: 100%;
    border-radius: 1rem;


    &__wrap {

        & input {
            width: 100%;
            background-color: $lightGrayishBlue;
            font-size: medium;
            font-weight: 500;
            border: none;
            border-bottom: 1px solid black;
            transition: 500ms esae all;
        
            &::placeholder {
                text-align: center;
                font-family: sans-serif;
                font-size: large;
            }
        
            &:focus {
                outline: none;
                box-shadow: 0 1px 0 0 #FFB803;
                border-color: #FFB803;
            }
        
            
        }

        
    }

    &__cta {
        width: 100%;
        justify-content: center;
        padding-top: 80px;
        justify-content: center;

        
        &a {
            text-align: center;
        }
    }
}


.input-wrap {
    align-items: center;
    margin-top: 4.25rem;

    & textarea {
        width: 100%;
        min-height: 200px;
        background-color: $lightGrayishBlue;
        border: none;
        border-bottom: 1px solid black;
        transition: 500ms esae all;
        &::placeholder {
            text-align: left;
            font-family: sans-serif;
            font-size: large;
        }
        &:focus {
            outline: none;
            box-shadow: 0 1px 0 0 #FFB803;
            border-color: #FFB803;
        }
    }
}

.input-wrap p {
    font-size: medium;
}

.input-wrap input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.625rem;
}

.input-wrap input[type="checkbox"]:focus {
    outline: none;
    box-shadow: none;
    border-color: none;
}