html {
    font-size: 100%;
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit; 
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
  }

a, a:active, a:hover {
  text-decoration: none;
}  

// Flexbox
.container {
  max-width: 130rem;
  margin: 0 auto;

  @include breakpoints-up(xlarge) {
    max-width: 90rem;
  }

  &--pall {
    padding-top: 4.375rem; 
    padding-right: 1.5rem;
    padding-bottom: 4.375rem;
    padding-left: 1.5rem;

    @include breakpoints-up(large) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  &--py { // Padding Top Bottom
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;

    @include breakpoints-up(large) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  &--px {// Padding Right Left
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  &--pt { // Padding Top
    padding-top: 1rem;

    @include breakpoints-up(large) {
      padding-top: 2rem;
    }
  }
  &--pr {// Padding Right
    padding-right: 1.5rem;
  }
  &--pb {// Padding Bottom
    padding-bottom: 4.375rem;

    @include breakpoints-up(large) {
      padding-bottom: 6rem;
    }
  }
  &--pf {
    padding-left: 1.5rem;
  }
  
}

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

.button {
  padding: 1rem;
  background-color: black;
  color: white;
  border: 1px solid black;
  transition:  200ms ease-in-out;
  text-transform: uppercase;


  &:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
  }
}

 //Visibility
 .hide-for-mobile { //Hide for mobile and tablet
  @include breakpoints-down (medium) {
    display: none;
  }
}

.hide-for-desktop { //Hide for mobile and tablet
  @include breakpoints-up (large) {
    display: none;
  }
}
