.hero {
    height: auto;
    padding-bottom: 30px;

    &__image {
        position: relative;
        background-image: url('/images/web/banner/cerveza-fondo-slider.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;

        @include breakpoints-up(medium) {
            min-height: 32.5rem;
        }
    }
}
