.trademark {

    background-color: $white;
    height: auto;

    &__content {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    &__image img{
        width: 100%;
        height: 100px;

        @include breakpoints-up(large) {
            height: 130px;
        }
        
    }

    &__item {

        &:not(:last-child) {
            margin-right: rem;
        }
    }
}