// Colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$blueGreen: hsl(165, 58%, 55%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$yellowGold: hsl(43, 100%, 50%);
$red: hsl(360, 100%, 42%);
$white: hsl(0, 0%, 100%);


// Font Sizes
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;700;800;900&display=swap');

$font-sm: 0.875rem;  // 14px
$font-md: 1.125rem;  // 18px
$font-lg: 1.25rem;   // 20px
$font-xlg: 3.25rem;  // 52px