.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out  forwards;
          animation: fade-in 200ms ease-in-out  forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out  forwards;
          animation: fade-out 300ms ease-in-out  forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
}

a, a:active, a:hover {
  text-decoration: none;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

@media (min-width: 87.5em) {
  .container {
    max-width: 90rem;
  }
}

.container--pall {
  padding-top: 4.375rem;
  padding-right: 1.5rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
}

@media (min-width: 64em) {
  .container--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pt {
  padding-top: 1rem;
}

@media (min-width: 64em) {
  .container--pt {
    padding-top: 2rem;
  }
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--pb {
    padding-bottom: 6rem;
  }
}

.container--pf {
  padding-left: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  padding: 1rem;
  background-color: black;
  color: white;
  border: 1px solid black;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  text-transform: uppercase;
}

.button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header nav {
  padding: 17px 24px;
}

@media (min-width: 64em) {
  .header nav {
    padding: 17px 0;
  }
}

@media (max-width: 87.4375em) {
  .header__logo img {
    width: 9.375rem;
    height: 4.375rem;
  }
}

.header__hamburger > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: black;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 2px;
          transform-origin: 3px 2px;
}

.header__hamburger > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__hamburger.open > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__hamburger.open > span:nth-child(2) {
  opacity: 0;
}

.header__hamburger.open > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__button a:not(:last-child) {
  margin-right: 0.3125rem;
}

.header__links a {
  position: relative;
  font-size: 0.875rem;
  color: #9698a6;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  font-weight: 700;
}

.header__links a:not(:last-child) {
  margin-right: 3.725rem;
}

@media (min-width: 64em) {
  .header__links a:not(:last-child) {
    margin-right: 1.725rem;
  }
}

.header__links a::before {
  position: absolute;
  content: "";
  display: block;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -30px;
}

.header__links a:hover {
  color: #2d314d;
}

.header__links a:hover::before {
  background: #4acfae;
}

.form {
  padding: 2.5rem;
  margin: 1.5rem;
  width: 100%;
  border-radius: 1rem;
}

.form__wrap input {
  width: 100%;
  background-color: #f3f4f6;
  font-size: medium;
  font-weight: 500;
  border: none;
  border-bottom: 1px solid black;
  -webkit-transition: 500ms esae all;
  transition: 500ms esae all;
}

.form__wrap input::-webkit-input-placeholder {
  text-align: center;
  font-family: sans-serif;
  font-size: large;
}

.form__wrap input:-ms-input-placeholder {
  text-align: center;
  font-family: sans-serif;
  font-size: large;
}

.form__wrap input::-ms-input-placeholder {
  text-align: center;
  font-family: sans-serif;
  font-size: large;
}

.form__wrap input::placeholder {
  text-align: center;
  font-family: sans-serif;
  font-size: large;
}

.form__wrap input:focus {
  outline: none;
  -webkit-box-shadow: 0 1px 0 0 #FFB803;
          box-shadow: 0 1px 0 0 #FFB803;
  border-color: #FFB803;
}

.form__cta {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 80px;
  justify-content: center;
}

.form__ctaa {
  text-align: center;
}

.input-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4.25rem;
}

.input-wrap textarea {
  width: 100%;
  min-height: 200px;
  background-color: #f3f4f6;
  border: none;
  border-bottom: 1px solid black;
  -webkit-transition: 500ms esae all;
  transition: 500ms esae all;
}

.input-wrap textarea::-webkit-input-placeholder {
  text-align: left;
  font-family: sans-serif;
  font-size: large;
}

.input-wrap textarea:-ms-input-placeholder {
  text-align: left;
  font-family: sans-serif;
  font-size: large;
}

.input-wrap textarea::-ms-input-placeholder {
  text-align: left;
  font-family: sans-serif;
  font-size: large;
}

.input-wrap textarea::placeholder {
  text-align: left;
  font-family: sans-serif;
  font-size: large;
}

.input-wrap textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 1px 0 0 #FFB803;
          box-shadow: 0 1px 0 0 #FFB803;
  border-color: #FFB803;
}

.input-wrap p {
  font-size: medium;
}

.input-wrap input[type="checkbox"] {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.625rem;
}

.input-wrap input[type="checkbox"]:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: none;
}

.product {
  background-color: #f3f4f6;
  height: auto;
  padding-bottom: 150px;
  padding-top: 30px;
}

.product h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #4acfae;
  font-weight: 700;
}

.product__conten {
  padding: 0 24px;
}

@media (min-width: 64em) {
  .product__conten {
    padding: 0;
  }
}

.product__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.875rem;
}

@media (min-width: 40em) {
  .product__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64em) {
  .product__grid {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

.product__item {
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  padding-top: 1rem;
}

.product__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.product__image {
  text-align: center;
  margin-bottom: 1rem;
}

.product__text {
  color: #9698a6;
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
}

@media (min-width: 40em) {
  .product__text {
    padding: 1.875rem 1.5625rem;
  }
}

.product__title {
  font-size: 22px;
  color: #2d314d;
  font-weight: 700;
}

@media (min-width: 64em) {
  .product__title {
    font-size: 20px;
  }
}

.productp {
  font-size: 16px;
  color: #b1b1b3;
  padding: 2px 0 20px 0;
}

.product__price {
  float: right;
  color: #48cfad;
  font-size: 22px;
  font-weight: 600;
}

@media (min-width: 64em) {
  .product__price {
    font-size: 20px;
  }
}

.product .input-wrap input {
  background-color: #f3f4f6;
}

.detail {
  background-color: #f3f4f6;
  height: auto;
  padding-top: 30px;
  padding-bottom: 50px;
}

.detail__left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 27.9375rem;
}

.detail__left img {
  width: 37%;
}

.detail__right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 27.9375rem;
}

.detail__title h1 {
  font-size: 3.25rem;
  margin: 0;
  color: #ffb700;
}

.detail__price p:nth-child(1) {
  margin: 0;
  font-size: 3.25rem;
  font-weight: 700;
  color: #4acfae;
}

.detail__info {
  width: 46%;
}

.detail__info p {
  font-size: 1.125rem;
  font-weight: 600;
  color: black;
  margin: 0;
}

.detail__info span {
  font-size: 1.125rem;
  color: #ffb700;
}

.detail__info p:nth-child(3) {
  margin-top: 20px;
  font-size: 0.875rem;
  color: black;
  font-weight: normal;
}

.featured {
  color: #4acfae;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.featured h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #4acfae;
}

.featured__more {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.featured__more > button {
  font-size: 1.25rem;
}

.quantity {
  padding: 14px;
  margin-left: 20px;
}

.quantity label {
  font-size: 1.125rem;
  color: #ffb700;
}

.quantity select {
  width: 40px;
  height: 40px;
}

.quantity select:focus, .quantity select :hover {
  outline: none;
  -webkit-box-shadow: 0 1px 0 0 #FFB803;
          box-shadow: 0 1px 0 0 #FFB803;
  border-color: #FFB803;
}

.hero {
  height: auto;
  padding-bottom: 30px;
}

.hero__image {
  position: relative;
  background-image: url("/images/web/banner/cerveza-fondo-slider.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 17.5rem;
}

@media (min-width: 40em) {
  .hero__image {
    min-height: 32.5rem;
  }
}

.product {
  background-color: #f3f4f6;
  height: auto;
  padding-bottom: 150px;
  padding-top: 30px;
}

.product h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #4acfae;
  font-weight: 700;
}

.product__conten {
  padding: 0 24px;
}

@media (min-width: 64em) {
  .product__conten {
    padding: 0;
  }
}

.product__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.875rem;
}

@media (min-width: 40em) {
  .product__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64em) {
  .product__grid {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

.product__item {
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  padding-top: 1rem;
}

.product__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.product__image {
  text-align: center;
  margin-bottom: 1rem;
}

.product__text {
  color: #9698a6;
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
}

@media (min-width: 40em) {
  .product__text {
    padding: 1.875rem 1.5625rem;
  }
}

.product__title {
  font-size: 22px;
  color: #2d314d;
  font-weight: 700;
}

@media (min-width: 64em) {
  .product__title {
    font-size: 20px;
  }
}

.productp {
  font-size: 16px;
  color: #b1b1b3;
  padding: 2px 0 20px 0;
}

.product__price {
  float: right;
  color: #48cfad;
  font-size: 22px;
  font-weight: 600;
}

@media (min-width: 64em) {
  .product__price {
    font-size: 20px;
  }
}

.product .input-wrap input {
  background-color: #f3f4f6;
}

.detail {
  background-color: #f3f4f6;
  height: auto;
  padding-top: 30px;
  padding-bottom: 50px;
}

.detail__left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 27.9375rem;
}

.detail__left img {
  width: 37%;
}

.detail__right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 27.9375rem;
}

.detail__title h1 {
  font-size: 3.25rem;
  margin: 0;
  color: #ffb700;
}

.detail__price p:nth-child(1) {
  margin: 0;
  font-size: 3.25rem;
  font-weight: 700;
  color: #4acfae;
}

.detail__info {
  width: 46%;
}

.detail__info p {
  font-size: 1.125rem;
  font-weight: 600;
  color: black;
  margin: 0;
}

.detail__info span {
  font-size: 1.125rem;
  color: #ffb700;
}

.detail__info p:nth-child(3) {
  margin-top: 20px;
  font-size: 0.875rem;
  color: black;
  font-weight: normal;
}

.featured {
  color: #4acfae;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.featured h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #4acfae;
}

.featured__more {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.featured__more > button {
  font-size: 1.25rem;
}

.quantity {
  padding: 14px;
  margin-left: 20px;
}

.quantity label {
  font-size: 1.125rem;
  color: #ffb700;
}

.quantity select {
  width: 40px;
  height: 40px;
}

.quantity select:focus, .quantity select :hover {
  outline: none;
  -webkit-box-shadow: 0 1px 0 0 #FFB803;
          box-shadow: 0 1px 0 0 #FFB803;
  border-color: #FFB803;
}

.trademark {
  background-color: white;
  height: auto;
}

.trademark__content {
  padding-top: 150px;
  padding-bottom: 150px;
}

.trademark__image img {
  width: 100%;
  height: 100px;
}

@media (min-width: 64em) {
  .trademark__image img {
    height: 130px;
  }
}

.trademark__item:not(:last-child) {
  margin-right: rem;
}

.feature {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.feature h3 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.feature p {
  text-align: center;
  font-size: medium;
  color: #9698a6;
}

.feature__item {
  width: 30%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.feature__icon {
  text-align: center;
}

.feature__icon > i {
  font-size: 30px;
  color: #ffb700;
  border: solid 3px #ffb700;
  padding: 20px;
  border-radius: 50%;
}

.feature__title p {
  font-size: x-large;
  color: black;
  font-weight: 600;
  text-transform: capitalize;
}

.feature__description {
  width: 80%;
  margin: 0 auto;
}

.feature__description p {
  font-size: medium;
  color: #9698a6;
}

.contact {
  background-color: #f3f4f6;
  height: auto;
  padding-top: 30px;
}

.contact h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #4acfae;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.contact p {
  text-align: center;
  font-size: medium;
  color: #9698a6;
}

.contact__left {
  float: left;
  width: 48%;
  margin-right: 1rem;
}

.contact__right {
  float: right;
  width: 48%;
}

.footer {
  background-color: black;
  color: white;
  padding: 2.5rem;
  text-align: center;
}

@media (min-width: 64em) {
  .footer .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr 1fr 3fr;
        grid-template-columns: 2fr 1fr 1fr 3fr;
    -ms-grid-rows: 1fr auto;
        grid-template-rows: 1fr auto;
        grid-template-areas: 'logo links1 links2 cta' 'social links1 links2 copyright';
    gap: 1rem;
    justify-items: start;
  }
}

.footer a {
  color: white;
}

.footer__logo {
  display: inline-block;
}

@media (max-width: 63.9375em) {
  .footer__logo {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 64em) {
  .footer__logo {
    grid-area: logo;
  }
}

@media (max-width: 63.9375em) {
  .footer__social {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 64em) {
  .footer__social {
    grid-area: social;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

.footer__social a {
  display: inline-block;
  height: 1.25rem;
}

.footer__social a svg path {
  -webkit-transition: fill 150ms ease-in-out;
  transition: fill 150ms ease-in-out;
}

.footer__social a:hover svg path {
  fill: #ffb700;
}

.footer__social a:not(:last-child) {
  margin-right: 1rem;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9375rem;
}

@media (min-width: 64em) {
  .footer__links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media (min-width: 64em) {
  .footer__links.col1 {
    grid-area: links1;
  }
}

@media (max-width: 63.9375em) {
  .footer__links.col2 {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 64em) {
  .footer__links.col2 {
    grid-area: links2;
  }
}

.footer__links a {
  line-height: 2.25;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.footer__links a:hover {
  color: #ffb700;
}

@media (min-width: 64em) {
  .footer__cta {
    grid-area: cta;
    text-align: right;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media (max-width: 63.9375em) {
  .footer__cta a.button {
    margin-bottom: 1.875rem;
  }
}

.footer__copyright {
  font-size: 0.8125rem;
  color: #ffb700;
}

@media (min-width: 64em) {
  .footer__copyright {
    grid-area: copyright;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}
/*# sourceMappingURL=style.css.map */