.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out  forwards;
          animation: fade-in 200ms ease-in-out  forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out  forwards;
          animation: fade-out 300ms ease-in-out  forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
}

a, a:active, a:hover {
  text-decoration: none;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}

.container--pall {
  padding-top: 4.375rem;
  padding-right: 1.5rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
}

@media (min-width: 64em) {
  .container--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pt {
  padding-top: 1rem;
}

@media (min-width: 64em) {
  .container--pt {
    padding-top: 2rem;
  }
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--pb {
    padding-bottom: 6rem;
  }
}

.container--pf {
  padding-left: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  padding: 1rem;
  background-color: black;
  color: white;
  border: 1px solid black;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header nav {
  padding: 17px 24px;
}

@media (min-width: 64em) {
  .header nav {
    padding: 17px 0;
  }
}

@media (max-width: 87.4375em) {
  .header__logo img {
    width: 9.375rem;
    height: 4.375rem;
  }
}

.header__hamburger > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: black;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 2px;
          transform-origin: 3px 2px;
}

.header__hamburger > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__hamburger.open > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__hamburger.open > span:nth-child(2) {
  opacity: 0;
}

.header__hamburger.open > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__button a:not(:last-child) {
  margin-right: 0.3125rem;
}

.header__links a {
  position: relative;
  font-size: 0.875rem;
  color: #9698a6;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  font-weight: 700;
}

.header__links a:not(:last-child) {
  margin-right: 0.725rem;
}

.header__links a::before {
  position: absolute;
  content: "";
  display: block;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -30px;
}

.header__links a:hover {
  color: #2d314d;
}

.header__links a:hover::before {
  background: #2d314d;
}

.product__conten {
  padding: 0 24px;
}

@media (min-width: 64em) {
  .product__conten {
    padding: 0;
  }
}

.product__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.875rem;
}

@media (min-width: 40em) {
  .product__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64em) {
  .product__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.product__item {
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  padding-top: 1rem;
}

.product__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.product__image {
  background-image: url("../images/products/product 1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 12.5rem;
}

.product__text {
  color: #2d314d;
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
}

@media (min-width: 40em) {
  .product__text {
    padding: 1.875rem 1.5625rem;
  }
}

.product__title {
  font-size: 22px;
  color: #393c45;
}

@media (min-width: 64em) {
  .product__title {
    font-size: 20px;
  }
}

.productp {
  font-size: 16px;
  color: #b1b1b3;
  padding: 2px 0 20px 0;
}

.product__price {
  float: right;
  color: #48cfad;
  font-size: 22px;
  font-weight: 600;
}

@media (min-width: 64em) {
  .product__price {
    font-size: 20px;
  }
}

.hero__image {
  position: relative;
  background-image: url("/images/web/banner/cerveza-fondo-slider.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 17.5rem;
}

@media (min-width: 40em) {
  .hero__image {
    min-height: 32.5rem;
  }
}

.product__conten {
  padding: 0 24px;
}

@media (min-width: 64em) {
  .product__conten {
    padding: 0;
  }
}

.product__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.875rem;
}

@media (min-width: 40em) {
  .product__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64em) {
  .product__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.product__item {
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  padding-top: 1rem;
}

.product__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.product__image {
  background-image: url("../images/products/product 1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 12.5rem;
}

.product__text {
  color: #2d314d;
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
}

@media (min-width: 40em) {
  .product__text {
    padding: 1.875rem 1.5625rem;
  }
}

.product__title {
  font-size: 22px;
  color: #393c45;
}

@media (min-width: 64em) {
  .product__title {
    font-size: 20px;
  }
}

.productp {
  font-size: 16px;
  color: #b1b1b3;
  padding: 2px 0 20px 0;
}

.product__price {
  float: right;
  color: #48cfad;
  font-size: 22px;
  font-weight: 600;
}

@media (min-width: 64em) {
  .product__price {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */