<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head')%>


    <body>
        
        <%- include('../partials/navigation')%>

        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero__image"></div>
                </div>
            </section>

            <section class="products">
                <div class="product__conten container container--pt">
                    <h1>PRODUCTOS</h1>
                    <div class="product__grid">
                        <a href="" class="product__item">
                            <div class="product__image"></div>
                            <div class="product__text">
                                <span class="product__title">Cerveza Andina</span>
                                <span class="product__price">$ 120</span>
                                <p>Amber Layer</p>
                            </div>
                        </a>
                        <a href="" class="product__item">
                            <div class="product__image"></div>
                            <div class="product__text">
                                <span class="product__title">Cerveza Andina</span>
                                <span class="product__price">$ 120</span>
                                <p>Amber Layer</p>
                            </div>
                        </a>
                        <a href="" class="product__item">
                            <div class="product__image"></div>
                            <div class="product__text">
                                <span class="product__title">Cerveza Andina</span>
                                <span class="product__price">$ 120</span>
                                <p>Amber Layer</p>
                            </div>
                        </a>
                        <a href="" class="product__item">
                            <div class="product__image"></div>
                            <div class="product__text">
                                <span class="product__title">Cerveza Andina</span>
                                <span class="product__price">$ 120</span>
                                <p>Amber Layer</p>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
        </main>

        <%- include('../partials/footer')%>

    </body>

</html>