<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head')%>


    <body>
        
        <%- include('../partials/navigation')%>

        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero__image"></div>
                </div>
            </section>

            <section class="products">
                <div class="product__conten container">
                    <div class="product__grid">
                        <a href="" class="product-item">
                            
                        </a>
                    </div>
                </div>
            </section>
        </main>

        <%- include('../partials/footer')%>

    </body>

</html>