
<head>
    <title>
      <%- title%>
    </title>
    <link rel="icon" href="/images/web/icons/favicon.png">
    <link rel='stylesheet' href='/css/style.css' />
    <script src="https://kit.fontawesome.com/90d05665e2.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b81a788407.js" crossorigin="anonymous"></script>
  </head>