<header class="header">
    <nav class="container flex flex-jc-sb flex-ai-c">
      <a href="/" class="header__logo">
        <img src="/images/web/icons/logo.svg" alt="logo">
      </a>
  
      <a href="#" id="btnHamburger" class="header__hamburger hide-for-desktop">
        <span></span>
        <span></span>
        <span></span>
      </a>
  
  
      <div class="header__links hide-for-mobile">
        <a href="">TIENDA</a>
        <a href="">NACIONALES</a>
        <a href="">INTERNACIONALES</a>
        <a href="">VARIEDADES</a>
        <a href="">MARCAS</a>
        <a href="">CONTACTO</a>
      </div>
  
      <div class="header__button hide-for-mobile">
        <a href="/user/login" class="button" >LOGIN</a>
        <a href="/user/register" class="button" >registrar</a>
        <a href="" class="button" >CARRITO</a>
      </div>
    </nav>
  </header>