<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head')%>

    <body>

        <%- include('../partials/navigation')%>
    
            <section class="admin">
                
            </section>

        <%- include('../partials/footer')%>

    </body>

</html>